.Sidebar {
  background-color: #0b1b32;
  color: #fff;
}
.Sidebar  li:hover {
  opacity: 0.6;
}

.Sidebar ul {
  margin-top: 130px;
  list-style-type: none;
}

.Sidebar li {
  text-align: center;
  margin: 10px;
  padding: 10px;
  width: 100px;
  border: 1px solid white;
}

.AddFolder {
  color: white;
  text-decoration: none;
}
.AddFolder:hover {

}
.round {
  border-radius: 5%;

}