.Sidebar {
  background-color: #0b1b32;
  color: #fff;
  transition-duration: 100ms;
}

.Sidebar  li:hover {
  opacity: 0.6;
  transition-duration: 100ms;
}

.Sidebar ul {
  margin-top: 130px;
  list-style-type: none;
}

.AddFolder {
  display: block;
  text-align: center;
  margin: 10px 2px;
  padding: 10px 0;
  width: 95%;
  max-width: 100px;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  transition-duration: 100ms;
}

.AddFolder:visited {
  color: white;
}

.AddFolder:hover {
  color: black;
  background-color: green;
  border: 1px solid green;
  transition-duration: 100ms;
}

.round {
  border-radius: 5%;
}

@media only screen and (min-width: 768px){
  .Sidebar ul {
    padding-left: 60%;
  }
}