.Folder {
  display: block;
  text-align: center;
  margin: 7px 2px;
  padding: 10px;
  width: 95%;
  max-width: 100px;
  border: 1px solid white;
  text-decoration: none;
  color: white;
}
.Folder:hover {
  background-color: #2C4C4C;
}
.Folder.active {
  background-color: #406565;
}

.noteCount {
  font-size: x-small;
  color: #0C3030;
}