.Note {
  border: 1px solid black;
  height: 70px;
  width: 300px;
  margin: 5px;
  padding: 3px;
}

.Note h4 {
  margin-top: 5px;
  margin-bottom: 18px;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
}

.DeleteNote {
  border-radius: 5px;
  border: 1px solid black;
  background-color: #0b1f3a;
  color: white;
  padding: 3px;
  margin-bottom: 2px;
  cursor: pointer;
}

.DeleteNote:hover {
  background-color: red;
  color: white;
}

.NoteTitle {
  color: #bdbdbd;
  text-decoration: none;
  transition-duration: 100ms;
}

.NoteTitle:hover {
  transition-duration: 100ms;
  color: #646024;
}