.Note {
  border: 1px solid black;
  height: 70px;
  width: 300px; 
  padding: 10px;
}

.Note h4 {
  margin-top: 5px;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
}

.DeleteNote {
  border-radius: 5px;
  border: 1px solid black;
  color: white;
  margin: 3px;
  cursor: pointer;
}

.DeleteNote:hover {
  background-color: red;
  color: white;
}

.NoteTitle {
  color: #bdbdbd;
  text-decoration: none;
  transition-duration: 100ms;
}

.NoteTitle:hover {
  transition-duration: 100ms;
  color: black
}