.NoteList ul{
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  padding: 10px;
}
.NoteList li:hover {
  background-color: rgb(24, 133, 24);
  cursor: pointer;
}

.add-button{
  display: block;
  text-align: center;
  margin: 10px 5px;
  padding: 10px;
  width: 300px;
  border: 1px solid black;
  text-decoration: none;
  color: white;
  transition-duration: 100ms;
  cursor: pointer;
}

.add-button:hover {
  border: 1px solid green;
  background-color: green;
  color: black;
  transition-duration: 100ms;
}
