*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  display: grid;
  grid-template-areas: "sidebar header" "sidebar main";
  grid-template-columns: 1fr 2.3fr;
  grid-template-rows: 120px 1fr;
  min-height: 100vh;
}

.Main {
  background-color: #102541;
  color: #fff;
  grid-area: main;
  height: calc(100vh - 120px);
  overflow: auto;
  display: flex;
}

.Header {
  grid-area: header;
  padding-left: 16px;
  padding-top: 32px;
  text-shadow: 2px 1px 2px black;
}

.Sidebar {
  grid-area: sidebar;
  height: 100vh;
  overflow: auto;
}