body {
  margin: 0;
  font-family: 'Lato', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 
Color pallette
As hex codes 

.color-primary-0 { color: #7F6249 } Main Primary color 
.color-primary-1 { color: #CFB29A }
.color-primary-2 { color: #A8866B }
.color-primary-3 { color: #67462B }
.color-primary-4 { color: #513015 }

.color-complement-0 { color: #2C4C4C } Main Complement color 
.color-complement-1 { color: #5D7C7C }
.color-complement-2 { color: #406565 }
.color-complement-3 { color: #1A3E3E }
.color-complement-4 { color: #0C3030 }
*/